appdirs==1.4.4
atomicwrites==1.4.0
boto==2.49.0
dnspython==2.6.1
future==1.0.0
impacket==0.12.0
jiter==0.6.1
jsonpointer==2.1
ldap3==2.9.1
ldapdomaindump==0.9.4
Levenshtein==0.26.1
mkl-service==2.4.0
ollama==0.3.3
openai==1.28.1
protobuf==3.20.3
pyasn1-modules==0.2.8
pycryptodomex==3.20.0
pycurl==7.45.2
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
python-Levenshtein==0.26.1
pywin32==305.1
RapidFuzz==3.10.1
scapy==2.5.0
setuptools==69.5.1
tree-sitter==0.20.4
wheel==0.43.0